<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<!-- Шапка -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container-fluid">
            <div th:object="${user}">
                <span class="fw-bold" th:text="*{username}"/>
                <input class="d-none" id="usName" th:value="${user.getId()}">
                <span> with roles: </span>
                <span>USER </span>
                <span>ADMIN</span>
            </div>
            <a class="text-decoration-none font-weight-bold text-secondary"
               href="http://localhost:8080/logout">Logout</a>
        </div>
    </nav>
</header>
<!-- Шапка (конец)-->

<div class="row">
    <!-- столбец слева -->
    <div class="col bg-white px-0">
        <div class="d-flex flex-column">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link text-start active" id="v-pills-admin-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin"
                        aria-selected="true">Admin
                </button>
                <button class="nav-link text-start" id="v-pills-user-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-user"
                        type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">User
                </button>
            </div>
        </div>
    </div>
    <!-- столбец слева (Конец)-->

    <!-- 11 колонок справа -->
    <div class="col-11 bg-light">

        <div id="t1"></div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                 aria-labelledby="v-pills-home-tab">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <!-- Закладка Users table в col-11 -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                aria-selected="true">Users table
                        </button>
                    </li>
                    <!-- Закладка Users table в col-11 (конец)-->
                    <!-- Закладка New User в col-11 -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile"
                                aria-selected="false">New User
                        </button>
                    </li>
                    <!-- Закладка New User в col-11 (конец)-->
                </ul>
                <!-- Содержимое закладок в col-11 -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


                        <div class="tab-pane fade show active" id="nav-users" role="tabpanel"
                             aria-labelledby="nav-users-tab">
                            <div class="p-2">
                                <h5>All users</h5>
                            </div>


                            <table class="table table-striped bg-white">
                                <!-- Шарка таблицы -->
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Cite</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <!-- Шарка таблицы (Конец)-->
                                <tbody id="usersTBody">
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <!-- Форма создания нового пользователя в закладке -->
                        <div class="row justify-content-center align-items-center bg-white">
                            <div class="col-4">
                                <form class="text-center" name="addForm">
                                    <div class="form-group fw-bold">
                                        <!--Объект без ролей -->
                                        <div class="form-group m-3">
                                            <div class="form-group m-3">
                                                <label for="usernameNewUser" class="col-form-label">Username</label>
                                                <input class="form-control" type="text"
                                                       id="usernameNewUser"
                                                       name="username"
                                                       placeholder="username">
                                            </div>

                                            <div class="form-group m-3">
                                                <label for="city" class="col-form-label">City</label>
                                                <input type="text" class="form-control" id="city"
                                                       name="city" required/>
                                            </div>

                                            <div class="form-group m-3">
                                                <label for="age" class="col-form-label">Age</label>
                                                <input type="text" class="form-control" id="age"
                                                       name="age" required/>
                                            </div>

                                            <div class="form-group m-3">
                                                <label for="passwordNewUser" class="col-form-label">Password</label>
                                                <input class="form-control" type="password"
                                                       minlength="1" required
                                                       id="passwordNewUser"
                                                       name="password">
                                            </div>
                                            <!--Объект без ролей  (Конец) -->
                                            <!--Массив строк как RequestParam -->
                                            <div class="form-group m-3" readonly="readonly">
                                                <label for="rolesArray">Role</label>
                                                <select class="form-select w-100" multiple
                                                        aria-label="multiple select example"
                                                        size="2"
                                                        id="rolesArray"
                                                        name="rolesArray">
                                                    <option selected="true">
                                                        ROLE_USER
                                                    </option>
                                                    <option>
                                                        ROLE_ADMIN
                                                    </option>
                                                </select>
                                            </div>
                                            <!--Массив строк как RequestParam (конец) -->
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                        <!-- Форма создания нового пользователя в закладке (Конец) -->

                    </div>
                </div>
            </div>
            <!-- Содержимое закладок в col-11(конец)-->

            <!-- Синяя закладка User  -->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel"
                 aria-labelledby="v-pills-profile-tab">
                <h1 class="ps-3">User information-page</h1>
                <div class="container-fluid">
                    <div class="row border">
                        <h5 class="p-2">About user</h5>
                    </div>
                    <div class="row border bg-white">
                        <table class="table table-borderless table-striped">
                            <thead>
                            <tr class="border-top">
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">City</th>
                                <th scope="col">Age</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            </thead>
                            <tbody id="userData">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Синяя закладка User (Конец) -->
        </div>
    </div>
    <!-- 11 колонок справа (Конец) -->
</div>


<!--Всплывающая панель удаления -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body fw-bold">
                <div style="text-align: center">
                    <div class="row justify-content-center align-items-center">

                        <!--Форма для данных-->
                        <form class="text-center" name="deleteForm" id="deleteFormBody">
                            <div class="form-group font-weight-bold">
                                <div class="form-group m-3">
                                    <label for="idDelete"
                                           class="col-form-label">ID</label>
                                    <input type="text" class="form-control" id="idDelete"
                                           name="id"
                                           disabled/>
                                </div>
                                <div class="form-group m-3">
                                    <label for="usernameDelete" class="col-form-label">Username</label>
                                    <input type="text" class="form-control"
                                           id="usernameDelete"
                                           name="username"
                                           disabled/>
                                </div>
                                <div class="form-group m-3">
                                    <label for="cityDelete" class="col-form-label">City</label>
                                    <input type="text" class="form-control"
                                           id="cityDelete"
                                           name="city"
                                           disabled/>
                                </div>

                                <div class="form-group m-3">
                                    <label for="ageDelete"
                                           class="col-form-label">Age</label>
                                    <input type="text" class="form-control"
                                           id="ageDelete"
                                           name="age"
                                           disabled/>
                                </div>

                                <div class="form-group m-3" readonly="readonly">
                                    <label for="rolesDelete">Role</label>
                                    <select class="form-select w-100 "
                                            size="2"
                                            id="rolesDelete"
                                            name="userRoles"
                                            disabled="true">
                                        <option selected="true">
                                            USER
                                        </option>
                                        <option>
                                            ADMIN
                                        </option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal" id="closeDelete">Close
                                    </button>
                                    <input type="submit" class="btn btn-danger"
                                           value="Delete"/>
                                </div>
                            </div>
                        </form>
                        <!--Форма для данных(конец)-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Всплывающая панель удаления (конец) -->


<!--Всплывающая панель редактирования -->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body fw-bold">
                <div style="text-align: center;">
                    <div class="row justify-content-center align-items-center">

                        <!--Форма для данных-->
                        <form class="text-center" name="editForm">
                            <div class="form-group font-weight-bold">
                                <div class="form-group m-3">
                                    <label for="idEdit"
                                           class="col-form-label">ID</label>
                                    <input type="text"
                                           class="form-control" id="idEdit"
                                           name="id"
                                           disabled/>
                                </div>
                                <div class="form-group m-3">
                                    <label for="usernameEdit">Username</label>
                                    <input type="text" class="form-control"
                                           id="usernameEdit"
                                           name="username"/>
                                </div>

                                <div class="form-group m-3">
                                    <label for="cityEdit" class="col-form-label">City</label>
                                    <input type="text" class="form-control"
                                           id="cityEdit"
                                           name="city"/>
                                </div>

                                <div class="form-group m-3">
                                    <label for="ageEdit"
                                           class="col-form-label">Age</label>
                                    <input type="text" class="form-control"
                                           id="ageEdit"
                                           name="age"/>
                                </div>


                                <div class="form-group m-3">
                                    <label for="passwordEdit"
                                           class="col-form-label">Password</label>
                                    <input type="password" class="form-control"
                                           id="passwordEdit"
                                           name="password"/>
                                </div>

                                <div class="form-group m-3" readonly="readonly">
                                    <label for="rolesArrayEdit">Role</label>
                                    <select class="form-select w-100" multiple
                                            aria-label="multiple select example"
                                            size="2"
                                            id="rolesArrayEdit"
                                            name="rolesArray">
                                        <option selected="true">
                                            ROLE_USER
                                        </option>
                                        <option>
                                            ROLE_ADMIN
                                        </option>
                                    </select>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal" id="closeEdit">Close
                                    </button>
                                    <input type="submit" class="btn btn-danger"
                                           value="Edit"/>
                                </div>

                            </div>

                        </form>
                        <!--Форма для данных (конец)-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Всплывающая панель редактирования (конец)-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</div>
<script>
    /**
     * Из отдельного файла JS не подгружает, перепробовал все что нашел в интернете...
     * */

    /*
    * Заполнение таблицы пользователями
    * innerHTML для передачи контента
    * insertRow и insertCell для создания строк и столюцов соответственно
    * */
    function getUserList() {
        const tableBody = document.getElementById("usersTBody");
        fetch('/users')
            .then(response => response.json())
            .then(users => {
                tableBody.innerHTML = '';
                for (const user of users) {
                    let row = tableBody.insertRow();
                    row.insertCell().innerHTML = user.id
                    row.insertCell().innerHTML = user.username
                    row.insertCell().innerHTML = user.city
                    row.insertCell().innerHTML = user.age
                    row.insertCell().innerHTML = user.roles.map(function (role) {
                        return ' ' + role.name;
                    });
                    row.insertCell().innerHTML =
                        '<button class="btn btn-info" type="submit" onclick="getEditModal(' + user.id + ')" data-bs-toggle="modal" data-bs-target="#modalEdit">Edit</button>';
                    row.insertCell().innerHTML =
                        '<button class="btn btn-danger" type="submit" onclick="getDeleteModal(' + user.id + ')" data-bs-toggle="modal" data-bs-target="#modalDelete">Delete</button>';
                }
            })
            .catch(error => console.error('Ошибка:', error));
    }
    const usersTableBtn = document.getElementById('home-tab');
    const us = document.getElementById('usName')
    function getUserListMin() {
        const userData = document.getElementById("userData")
        fetch('/user/' + us.value)
            .then(response => response.json())
            .then(user => {
                userData.innerHTML = '';
                let row = userData.insertRow();
                row.insertCell().innerHTML = user.id
                row.insertCell().innerHTML = user.username
                row.insertCell().innerHTML = user.city
                row.insertCell().innerHTML = user.age
                row.insertCell().innerHTML = user.roles.map(function (role) {
                    return ' ' + role.name;
                });
            })
            .catch(error => console.error('Ошибка:', error));
    }

    //Заполнение таблицы пользователями(конец)
    //первое заполнение при старте страниц
    getUserList()
    getUserListMin()

    //показываем модальное окно изменения
    function getEditModal(id) {
        let form = document.forms.namedItem("editForm");
        fillModal(id, form)
    }

    //показываем модальное окно удаления
    function getDeleteModal(id) {
        let form = document.forms.namedItem("deleteForm");
        fillModal(id, form)
    }

    //заполняем модальное окно
    function fillModal(id, form) {
        fetch('/user/' + id)
            .then(response => response.json())
            .then(user => {
                form.elements.namedItem("id").value = user.id;
                form.elements.namedItem("username").value = user.username;
                form.elements.namedItem("city").value = user.city;
                form.elements.namedItem("age").value = user.age;
                if (form.elements.namedItem("password") != null) {
                    form.elements.namedItem("password").value = "";
                }
            })
            .catch(error => console.error('Ошибка:', error));
    }


    //Обработка кнопки удаления
    //Получаем элемент формы
    const deleteForm = document.forms.namedItem("deleteForm");
    //Слушатель ждет submit
    deleteForm.addEventListener("submit", remove);

    // Обрабатываем submit
    function remove(e) {
        e.preventDefault();
        //получаем элемент кнопки закрывания
        const closeButton = document.getElementById("closeDelete")
        let id = deleteForm.elements.namedItem("id").value

        fetch('/admin/delete/' + id, {
            method: 'DELETE',
            headers: {"Content-type": "application/json; charset=UTF-8"}
        })
            .then(response => {
                getUserList();
                getUserListMin()
                // закрываем окно кнопкой
                closeButton.click();
            })

            .catch(error => console.error('Ошибка:', error));
    }


    //Обработка кнопки Edit
    const editForm = document.forms.namedItem("editForm");

    editForm.addEventListener("submit", update);

    function update(e) {
        e.preventDefault();
        const closeButton = document.getElementById("closeEdit")
        const rolesOption = editForm.elements.namedItem("rolesArray");
        let selectedRoles = [];
        for (const rolesSelect of rolesOption) {
            if (rolesSelect.selected) {
                if (rolesSelect.text === 'ROLE_USER') {
                    selectedRoles.push({
                        id: 1,
                        name: rolesSelect.text
                    });
                } else {
                    selectedRoles.push({
                        id: 2,
                        name: rolesSelect.text
                    });
                }
            }
        }
        fetch('/admin/update', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                id: editForm.elements.namedItem("id").value,
                username: editForm.elements.namedItem("username").value,
                city: editForm.elements.namedItem("city").value,
                age: editForm.elements.namedItem("age").value,
                password: editForm.elements.namedItem("password").value,
                roles: selectedRoles
            })

        })
            .then(response => {
                getUserList();
                getUserListMin()
                closeButton.click();
                for (const rolesSelect of rolesOption) {
                    rolesSelect.selected = false
                }
            })
            .catch((error) => {
                console.error('Ошибка:', error);
            });
    }

    //Обработка кнопки Edit (конец)


    //Добавление нового пользователя
    const addForm = document.forms.namedItem("addForm");

    addForm.addEventListener("submit", add);

    function add(e) {
        e.preventDefault();
        const rolesOption = addForm.elements.namedItem("rolesArray");
        let selectedRoles = [];
        for (const rolesSelect of rolesOption) {
            if (rolesSelect.selected) {
                if (rolesSelect.text === 'ROLE_USER') {
                    selectedRoles.push({
                        id: 1,
                        name: rolesSelect.text
                    });
                } else {
                    selectedRoles.push({
                        id: 2,
                        name: rolesSelect.text
                    });
                }
            }
        }
        fetch('/admin/adds', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                id: 0,
                username: addForm.elements.namedItem("username").value,
                city: addForm.elements.namedItem("city").value,
                age: addForm.elements.namedItem("age").value,
                password: addForm.elements.namedItem("password").value,
                roles: selectedRoles
            }),
        })
            .then(response => {
                getUserList();
                getUserList();
                getUserListMin();
                usersTableBtn.click();

            })
            .catch((error) => {
                console.error('Ошибка:', error);
            });
    }

    //Добавление нового пользователя(конец)

    /*
    черновики знаю, что не хорошо их оставлять, но онимне на будущее нужны :)

    const t = {
    name: 'Vladlen',
    age: 26
    }

    function test(url) {
    return fetch(url, {
    method: 'POST',
    body: JSON.stringify(t),
    headers: {
    'Content-Type': 'application/json'
    }
    }).then(response => {
    return response.text()
    })

    }

    alert('111')
    test('http://localhost:8080/users').then(data => console.log(data))

    const dt1 = document.getElementById('t1')
    fetch('http://localhost:8080/users').then(response => response.json()).then(users => {
    dt1.innerHTML = '';
    for (const user of users) {
    dt1.innerHTML = dt1.innerHTML + ' ' + user.username
    }
    })
    */
</script>
</body>
</html>